<div class="single-product-section">
  <h1>Hello i change this thing in the jasminder branch now i only commit to the jasminder to show it working
  </h1>
</div>


{% schema %}
  {
    "name": "Single Product AJAX ",
    "settings": [],
    "presets": [
      {
        "name": "Single Product AJAX"
      }
    ]
  }
{% endschema %}