<div class="single-product-section">
  <h1>Hello</h1>
</div>


{% schema %}
  {
    "name": "Single Product AJAX ",
    "settings": [],
    "presets": [
      {
        "name": "Single Product AJAX"
      }
    ]
  }
{% endschema %}